<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout.html">
<head>
    <title>Customers</title>

</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row starter-template">
            <div class="col-sm-12">
                <a class="btn btn-default" href="/app/customer/app/customer/create">Create Customer</a>
            </div>
        </div>
        <div class="row starter-template">
            <div class="col-sm-12">
                <div th:if="${companies == null || companies?.size() == 0}">
                    <h1>No customers configured.</h1>
                </div>
                <table th:if="${companies != null && companies?.size() > 0}" class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
                            <th>Telephone</th>
                            <th>Fax</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="company: ${companies}" class="company-row">
                            <td>
                                <a th:href="${customer.website == null ? '#' : customer.website}" href="#">
                                    <span class="glyphicon glyphicon-link"></span>
                                </a>
                            </td>
                            <td>
                                <a th:text="${customer.name}" th:href="'/app/customer/' + ${customer.id}">
                                    Customer Name
                                </a>
                            </td>
                            <td th:text="${customer.getTelephone()}">
                                021-555-2435
                            </td>
                            <td>
                                <a th:text="${customer.email}" th:href="'mailto:' + ${customer.getEmail()}">
                                    Customer Email
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>