<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout.html">
<head>
    <title th:text="'Home of ' + ${userName}">Home - </title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row starter-template">
            <div class="col-sm-4">&nbsp;</div>
            <div class="col-sm-4">
                <h1 th:text="${company == null ? 'Add new customer' : 'Edit customer'}">Operation</h1>
                <form th:action="${company == null ? '/app/customer/create' : '/app/customer/update'}" action="#" method="post">
                    <input th:if="${company != null}" type="hidden" name="companyId" th:value="${company?.id}" />
                    <div class="company-details">
                        <label for="name">Company Name</label><input th:value="${company?.name?:''}" id="name" name="name" class="form-control" type="text"/>
                        <label for="email">Company Email</label><input th:value="${company?.email?:''}" id="email" name="email" class="form-control" type="email"/>
                        <label for="telephone">Company Telephone</label><input th:value="${company?.telephone?:''}" id="telephone" name="telephone" class="form-control" type="tel"/>
                        <div>
                            <label for="website">Website</label><input th:value="${company?.website?:''}" id="website" name="website" class="form-control" type="url"/>
                            <label for="facsimile">Facsimile</label><input th:value="${company?.facsimile?:''}" id="facsimile" name="facsimile" class="form-control" type="tel"/>
                            <label for="address">Address</label><input th:value="${company?.address?:''}" id="address" name="address" class="form-control" type="text"/>
                            <label for="city">City</label><input th:value="${company?.city?:''}" id="city" name="city" class="form-control" type="text"/>
                            <label for="province">Province</label><input th:value="${company?.province?:''}" id="province" name="province" class="form-control" type="text"/>
                            <label for="country">Country</label><input th:value="${company?.country?:''}" id="country" name="country" class="form-control" type="text"/>
                            <label for="postalCode">Postal Code</label><input th:value="${company?.postalCode?:''}" id="postalCode" name="postalCode" class="form-control" type="text"/>
                            <label for="notes">Notes</label><textarea th:value="${company?.notes?:''}" id="notes" name="notes" placeholder="General notes" class="form-control"></textarea>
                        </div>
                    </div>
                    <br/>
                    <div style="float: right">
                        <a class="btn btn-default" title="Cancel" href="/app/customer/">Cancel</a>
                        <input class="btn btn-default" type="submit" value="Save" title="Login" />
                    </div>
                </form>
            </div>
            <div class="col-sm-4">&nbsp;</div>
        </div>
    </div>
</section>
</body>
</html>