<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layout.html">
<head>
    <title>Southwest Greens - Login</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container">
            <div class="row starter-template">
                <div class="col-sm-4">&nbsp;</div>
                <div class="col-sm-4">
                    <h1>Login</h1>
                    <form th:action="@{/j_spring_security_check}" action="/j_spring_security_check" method="post">
                        <div><input id="username" class="form-control" name="username" type="email" placeholder="Username" title="Username"/></div>
                        <div><input id="password" class="form-control" name="password" type="password" placeholder="Password" title="Password"/></div>
                        <div><input type="submit" class="form-control" value="Login" title="Login" /></div>
                    </form>
                </div>
                <div class="col-sm-4">&nbsp;</div>
            </div>
        </div>
    </section>
</body>
</html>