<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- Persistence -->

    <bean name="gaeDataStoreManager" class="southwestgreen.GaeDataStoreManager"/>
    <bean name="datastore" factory-bean="gaeDataStoreManager" factory-method="getDatastore" />
    <bean name="customerContactRepository" class="southwestgreen.CustomerContactRepository" autowire="byName" init-method="init" autowire-candidate="true" />
    <bean name="customerRepository" class="southwestgreen.CustomerRepository" init-method="init" autowire="byName" autowire-candidate="true"/>
    <bean name="userRepository" class="southwestgreen.UserRepository" init-method="init" autowire="byName" autowire-candidate="true" />

    <!-- Security -->
    <bean name="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <bean id="roleVoter" class="org.springframework.security.web.access.expression.WebExpressionVoter"/>
    <bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <constructor-arg name="decisionVoters" ref="roleVoter"/>
    </bean>

    <sec:authentication-manager id="dao-auth">
        <sec:authentication-provider user-service-ref="userRepository">
            <sec:password-encoder ref="passwordEncoder" />
        </sec:authentication-provider>
    </sec:authentication-manager>

    <sec:http authentication-manager-ref="dao-auth" access-decision-manager-ref="accessDecisionManager">
        <sec:intercept-url pattern="/app/**" access="isAuthenticated()"/>
        <sec:intercept-url pattern="/admin/**" access="hasRole('AUTH_ADMIN')"/>
        <sec:intercept-url pattern="/home" />
        <sec:form-login login-page="/login"
                        login-processing-url="/j_spring_security_check"
                        authentication-failure-url="/denied"
                        username-parameter="username"
                        password-parameter="password"
                        default-target-url="/home"/>
        <sec:logout invalidate-session="true"
                    logout-success-url="/"
                    logout-url="/logout"/>
        <sec:access-denied-handler error-page="/denied"/>
        <sec:session-management invalid-session-url="/login">
            <sec:concurrency-control max-sessions="1" expired-url="/login"/>
        </sec:session-management>
    </sec:http>

    <!-- Controllers -->

    <bean class="southwestgreen.IndexController"/>

    <!-- ThymeLeaf -->

    <bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML5"/>
    </bean>

    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>

    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
    </bean>

</beans>